torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
soundfile
sox
torchmetrics
torch_audiomentations
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
sru

black
isort
pre-commit
pystoi
pesq

gdown

transformers
